
        /* Add your styles here */
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
            background-image: url('bg3.png');
            height: 100vh;
            width:100vw ;

        }

        header {
            background-color:white;
            color: black;
            padding: 10px;
            text-align: center;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0);
            
        }

        main {
            max-width: 800px;
            margin: 20px auto;
            padding: 20px;
            background-color: #fff;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            background-image: url('bg2.png');
            
        }

        footer {
            text-align: center;
            padding: 10px;
            background-color: black;
            color: #fff;
            position: fixed;
            bottom: 0;
            width: 100%;
        }
        .btndiv{
            display: flex;
            justify-content: center;
        }

        /* Add styling for the form */
        form {
            margin-top: 20px;
        }

        label {
            display: block;
            margin-bottom: 8px;
        }

        select {
            width: 100%;
            padding: 8px;
            margin-bottom: 16px;
        }

        button {
            background-color: black;
            color: #fff;
            padding: 10px;
            border: none;
            cursor: pointer;
            border-radius: 0.3rem;
            font-weight: 700;
            font-size: medium;
            font-family: Arial, Helvetica, sans-serif;
        }

        /* Style for displaying the predicted price */
        #predictedPrice {
            margin-top: 20px;
            font-weight: bold;
        }